body {
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
   
    text-align: center;
}

nav {
    align-items: stretch;
    
    justify-items: center;
  
    text-align: center;
    justify-content: space-around;
  

}

nav a {
    text-decoration: none;
}
.formulario {
    background-color: bisque;
    text-align: center;
    flex: content;
    display: flex;
    grid-column: auto;
    flex-direction: column;
    margin-bottom: 10px;
}
.button {
    margin: 1rem;
}
.form {
    
}
h2 {
    font-size: x-large;
   text-align: center;
}