body {
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
   
    text-align: center;
}

nav {
    align-items: stretch;
    align-content: space-around;
    justify-items: center;
    text-decoration: none;
    text-align: center;
  

}
.form {
   justify-content: center;
   
}

.formulario {
    background-color: bisque;
    text-align: center;
    flex: content;
   
  


}
h2 {
    font-size: x-large;
}